.link {
    display: inline-block;
    padding: 20px 0px;

    text-decoration: none;

    font-weight: 500;
    color: #e6d7ae;
    font-size: 20px;

    &:not(:last-child) {
        margin-right: 15px;
    }
}

.activeLink {
    color: #ffc966;
}
