.contactsView {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contactsTitle {
    margin-bottom: 30px;

    color: #e6d7ae;
}

.addContactTitle {
    margin-bottom: 15px;

    color: #e6d7ae;
}

.contactListTitle {
    margin-top: 30px;
    margin-bottom: 15px;

    color: #e6d7ae;
}

// .loader {
//     text-align: center;
// }

.error {
    color: #ffc966;
    font-size: 20px;
}
